<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Protected</title>
    <style>
      form {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: auto 1fr;
        max-width: 500px;
        margin: 0 auto;
      }
      #share,
      #upload-message,
      .file-link,
      .error {
        grid-column: span 2;
      }
      #upload-message {
        color: green;
        text-align: center;
      }
      .file-link {
        padding: 1em;
        background-color: lightgreen;
        text-align: center;
      }

      .error {
        padding: 1em;
        color: lightcoral;
        text-align: center;
      }
    </style>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  </head>
  <body>
    <form method="post" accept="./" id="form">
      <% if(locals.error == true) {%>
      <div class="error">
        <p>access denied!</p>
      </div>
      <% } %>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required />

      <button type="submit" id="share">Download</button>
    </form>
    <script>
      if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
      }
    </script>
  </body>
</html>
